

body{
  background-color:#F6FCEF;
  
}


nav{
  background-color:#98CFA1
}

footer{
  
  background-color:#98CFA1;

}

.vr{
  border-left: solid #f6fcef;
  height:50px;
  left: 50%;
  position: absolute;
 

}

footer a {
  text-decoration: none; 
  color: #f6fcef;
}

footer .h3{
  font-size: 20px;
}




.Formulario{
  background-color:#98CFA1;
  
}

.Formulario .h2 {
  letter-spacing: 0.09em;
  font-weight: 700;

}

/* From uiverse.io by @alexmaracinaru */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f6fcef;
  opacity: 0.5;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #FFFFFF;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #f6fcef;
  opacity: 0.5;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}